<div>
    <table class='table'>
        <thead>
            <tr><th>Accounts</th></tr>
        </thread>
        {{#each model}}
            <tr><td>
                {{name}} has Rs. {{balance}}
            </td></tr>
        {{/each}}
    </table>
</div>