<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        {{#linkTo 'home' class="navbar-brand"}}Plutus{{/linkTo}}
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="active">{{#linkTo 'accounts'}}Accounts{{/linkTo}}</li>
        </ul>
    </div>
</nav>
<div>
    {{outlet}}
</div>